{% import 'macros.html.twig' as macros %}
<ul class="navbar-nav mx-auto text-center">
    <li class="nav-item">
        <a class="nav-link" href="/" title="Back to the homepage">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/movie/search" title="Search">Search Movie</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/movie/latest" title="Search">Latest</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/contact" title="You need some help ? Contact us !">Contact us</a>
    </li>
</ul>
<ul class="navbar-nav text-center">
    {{ macros.login_section() }}
</ul>

